.initialTileView {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.initialTileView:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.tileButton {
    background: none;
    border: none;
}