.base-hand-l-top-view {
    background-image: url("public/images/creatures_500_500/humans_500_500/hero-asmodei/body-parts/hand-l-top-view.png");
}

.base-hand-r-top-view {
    background-image: url("public/images/creatures_500_500/humans_500_500/hero-asmodei/body-parts/hand-r-top-view.png");
}

.base-armor-top-view {
    background-image: url("public/images/creatures_500_500/humans_500_500/hero-asmodei/body-parts/base-torso-top-view.png");
}

.base-head-top-view {
    background-image: url("public/images/creatures_500_500/humans_500_500/hero-asmodei/body-parts/head-top-view.png");
}

.base-head-up-top-view {
    background-image: url("public/images/creatures_500_500/humans_500_500/hero-asmodei/body-parts/head-up-top-view.png");
}

.stand-base-top-view {
    background-image: url("public/images/podiums/stand-base-top-view.png");
}