 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 .page {
    min-height: 100vh;
    align-items :center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.activeBtn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

button:hover {
    cursor: pointer;
}

button:hover,
button:focus {
    color: rgb(255, 123, 0);
}

.mapTile {
    width: 150px;
    height: 150px;
    margin-left: 2%;
    display: inline-flex;
    align-items: flex-end;
}