.closeShopBtn {
    position: absolute;
    top: 11%;
    right: 23%;
    width: 3vw;
    height: 3vw;
    background-image: url("src/a-game-scenes/shop-scene/assets/shop-close-btn-image.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeShopBtn:hover {
    transform: scale(1.1);
}

.shopOverlay {
    width: 55vw;
    height: 85vh;
    border-radius: 2rem;
    padding: 2vw;
    align-content: center;
    justify-content: center;
    background-image: url("/src/a-game-scenes/shop-scene/assets/shop-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 5vw;
}